.booking__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.booking__form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(229, 229, 229);
  margin-bottom: 2rem;
}

.booking__form-input {
  height: 2rem;
  margin: 0.3rem 0 1rem 0;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0px 2px black;
}

.booking__form-submit {
  padding: 1rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--color-light);
  font-size: 1.3rem;
  box-shadow: 0px 0px 0px var(--accent-color);

  transition: box-shadow .125s ease-in-out, background-color .125s ease-in-out;
}

.booking__form-submit:hover {
  box-shadow: 1px 1px 5px var(--accent-color);
  background-color: #f4a440;
}

input:invalid {
  border: 1px solid red;
}

@media screen and (orientation: landscape) {}