@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-light: #fcfcfc;
  --color-light-darker: 200, 200, 200;
  --color-dark: #212427;
  --color-dark-lighter: 150, 150, 150;
  --accent-color: #f0911b;

  --header-height: 90px;
  --footer-height: 160px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aleo", serif;
  font-size: 16px;
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.2;
}

header,
main,
.footer__wrapper {
  margin: 0 auto;
  padding: 15px;
  max-width: 1024px;
}

a:visited,
a:active {
  color: var(--color-dark);
}

input {
  outline: none;
  padding: 0 .25rem;
}

input:focus {
  border-bottom: 1px solid var(--accent-color);
}