@media (orientation: portrait) {

  .contact__card:not(:last-child)::after,
  .contact__cards-header::after {
    content: "";
    border-bottom: 1px solid rgb(228, 228, 228);
    width: 100%;
    margin-top: 1rem;
  }
}

@media (orientation: landscape) {
  .hero__banner {
    flex-direction: row;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(228, 228, 228);
  }

  .contact__cards-wrapper {
    flex-direction: row;
  }

  .hero__banner-desc {
    align-self: flex-start;
  }

  .hero__banner-desc span {
    display: block;
  }

  .contact__card {
    max-width: 33.3333%;
    text-align: center;
    padding: 1rem;
  }

  .nav_wrapper-primary {
    display: block;
  }
}